<div class="pokedex-container container">
  <div class="fight-resume centered">
    <button class="btn btn-success margon-bottom-10" *ngIf="fightOrDetail === 'detail'"
      (click)="setFightOrDetail('fight')">
      Pick Pokemons for fight
    </button>
    <button class="btn btn-warning margon-bottom-10" *ngIf="fightOrDetail === 'fight'"
      (click)="setFightOrDetail('detail')">
      Fight later
    </button>
    <span class="white-text" *ngIf="!!pokeService.getPokemonForFight()">
      {{pokeService.getPokemonForFight()?.name || '' | uppercase}} Ready for the battle
    </span>
  </div>

  <div class="pokedex-wrapper row">
    <div class="col-12 infinite-container border-right-red" infiniteScroll [infiniteScrollDistance]="0"
      [infiniteScrollThrottle]="1000" (scrolled)="onScroll()" [scrollWindow]="false">
      <div class="row">
        <ng-container *ngFor="let pokemon of pokemons">
          <div class="col-sm-6 col-md-4 col-lg-3 full-width padding-5">
            <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="showDialog" modal=true [blockScroll]=true [dismissableMask]=true [responsive]=true
    [maximizable]=true [style]="{'max-width': '1000px', width:'95%'}">
    <app-pokemon-detail></app-pokemon-detail>
    <p-footer>
      <button class="btn btn-info" (click)="backToBrowse()">Close <i class="fa fa-times"></i></button>
    </p-footer>
  </p-dialog>
</div>