<div class="pokedex-container container">
  <div class="fight-resume centered">
    <button class="btn btn-success margon-bottom-10" *ngIf="fightOrDetail === 'detail'"
      (click)="setFightOrDetail('fight')">
      <ng-container
        i18n="Pokedex start picking|Pokedex action to start picking pokemons for fight@@PokedexStartPicking"> Pick
        Pokemons for fight</ng-container>
    </button>
    <button class="btn btn-warning margon-bottom-10" *ngIf="fightOrDetail === 'fight'"
      (click)="setFightOrDetail('detail')">
      <ng-container i18n="Pokedex fight later|Pokedex action to stop picking pokemons for fight@@PokedexStopPicking">
        Fight later</ng-container>
    </button>
    <span class="white-text" *ngIf="!!pokeService.getPokemonForFight()">
      {{pokeService.getPokemonForFight()?.name || '' | uppercase}}
      <ng-container i18n="Pokedex pokemons ready|Pokedex pokemons that are ready for the battle@@PokedexPokemonsReady">
        Ready for the battle</ng-container>
    </span>
  </div>

  <div class="pokedex-wrapper row">
    <div class="col-12 infinite-container border-right-red" infiniteScroll [infiniteScrollDistance]="0"
      [infiniteScrollThrottle]="1000" (scrolled)="onScroll()" [scrollWindow]="false">
      <div class="row">
        <ng-container *ngFor="let pokemon of pokemons">
          <div class="col-sm-6 col-md-4 col-lg-3 full-width padding-5">
            <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

  <p-dialog [(visible)]="showDialog" modal=true [blockScroll]=true [dismissableMask]=true [responsive]=true
    [maximizable]=true [style]="{'max-width': '1000px', width:'95%'}">
    <app-pokemon-detail></app-pokemon-detail>
    <p-footer>
      <button class="btn btn-info" (click)="backToBrowse()">
        <ng-container i18n="Dialog close|Dialog button to dismiss modal@@DialogClose">Close</ng-container>
        <i class="fa fa-times"></i>
      </button>
    </p-footer>
  </p-dialog>
</div>

<!-- 
  <ng-container i18n="meaning|description@@id"> Hello world</ng-container> 
-->