<header>
  <nav class="nav-left"><a [routerLink]="['/']">Pokedex</a></nav>
  <nav class="nav-right">
    <i *ngIf="!locationRef.includes('es.pokedex')"> <a href="https://es.pokedex.xyz"> ES </a> </i>
    <i *ngIf="!locationRef.includes('fr.pokedex')"> <a href="https://fr.pokedex.xyz"> FR </a> </i>
    <i *ngIf="!locationRef.includes('ja.pokedex')"> <a href="https://ja.pokedex.xyz"> JA </a> </i>
    <i *ngIf="!locationRef.includes('https://pokedex')"> <a href="https://pokedex.xyz"> EN </a> </i>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer> </footer>