/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face { font-family: "Pokemon"; src: url("assets/fonts/pokemon.ttf");}

body{
  font-family: 'Montserrat', sans-serif;
}
.full-width{
  width: 100%;
}

.button-no-styles{
  background: 0;
  border: 0;
  cursor: pointer;
}

.button-no-styles:focus{
  outline: none;
}

.padding-5{
  padding: 5px;
}

.margon-bottom-10{
  margin-bottom: 10px;
}

.centered{
  text-align: center
}

.background-grey{
  background: #ededed;
}

.vertical-padding{
  padding: 10px 0;
}

.white-text{
  color:#ffffff;
}